{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock title%}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3  class="alert-heading" style="text-align: center">Well Done!</h3>
            <p style="text-align: center"> A Mail has been sent to the registered E-mail to reset the password <br><b>Please check the Mail </b> </p>
        </div>
    </div>
</div>
{% endblock main-content %}