{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock title%}
{% block main-content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="card col-sm-6 my-5 p-3 mx-auto">
      <h3  class="alert-heading" style="text-align: center;color:green">Your password has been successfully changed.!</h3>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0"
            class="giphy-embed justify-content-center" allowFullScreen></iframe>
    </div>
  </div>
</div>
{% endblock main-content %}