{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock title%}
{% block main-content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="card col-sm-6 my-5 p-3 mx-auto">
      <h3  class="alert-heading" style="text-align: center;color:green">Your password has been successfully changed.!</h3>
      <i class="fas fa-check-circle" style="font-size: 48px; color: green; display: block; margin: 0 auto;margin-top: 1rem "></i>
    </div>
  </div>
</div>
{% endblock main-content %}
